# Ignore directories
node_modules/
coverage/

# Ignore files
*.txt
*.log
*.yml
*.lock

# Ignore Next.js directories
**/.next/
**/out/
**/.out/
**/coverage/

# Ignore the dist folder in all packages/modules
**/dist